#plot-placeholder {
    height: 130px;
    font-size: 14px;
    line-height: 1.2em;
}

#pie-placeholder {
    height: 130px;
    font-size: 14px;
    line-height: 1.2em;
}

.spinnerlabel {
    margin-left: 23px;
}